form.form-create-news input.create,
textarea {
  width: 100%;
  margin-top: 15px;
  background: #f4f5f4;
  color: rgba(115, 123, 125, 1);
}

form.form-create-news textarea {
  width: 100%;
  min-height: 200px;
  background: #f4f5f4;
  padding: 10px 16px;
  resize: vertical;
}

form.form-create-news input.input-submit-form {
  margin-top: 20px;
  width: 100%;
}
