div.container-news-item {
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 50px;
  height: auto;
  background: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  padding: 5px 20px;
}

div.container-news-item div.open-news {
  height: 100%;
}

div.container-news-item h5 {
  font-family: Mulish;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height, or 129% */

  letter-spacing: 0.2px;

  /* Light / Black */

  color: #373f41;
}

div.container-author-menu {
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.container-author-menu svg {
  cursor: pointer;
  filter: brightness(1.2);
}

div.container-author-menu svg:hover {
  filter: brightness(1);
}

.medium {
  width: 90%;
}

.full-size {
  width: 100%;
}
